<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jz.led.settings"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <application
        android:name="com.jz.led.MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/led_settings_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/led_settings_icon"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/Theme.LedProject">
        <activity
            android:name=".TestDemoActivity"
            android:exported="true"
            android:label="Led"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.LedProject.NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name="com.jz.led.activity.LightTestActivity"
            android:exported="true"
            android:label="LedTest"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.LedProject.NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".LedSettingsActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.LedProject.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.jz.led.LedService"
            android:exported="true"/>

    </application>

</manifest>